* {
        font-family:'Times New Roman', Times, serif;
        box-sizing: border-box;
}

body {
    background-color: #474747;
    
}

.header {
    background-color: black;
    color: aliceblue;
    padding: 16px;
    margin: 16px auto;
    width: fit-content;
}

.rankings-container {
    background-color: #bd2121;
    margin: 16px auto;
    width: 800px;
    padding: 25px;
}

a.btn {
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    padding: 2px 4px;
    border: 1px outset buttonborder;
    color:buttontext;
    background-color: buttonface;
}

a.btn:hover {
    background-color: wheat;
}